nodered-data/flows.json
[
    {
        "id": "2c7706736b1f8701",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f2498bce81aca1be",
        "type": "myatmosphere-connection",
        "name": " Palas GmbH",
        "apiEndpoint": "https://host.docker.internal:44501"
    },
    {
        "id": "a153064ab03a6bfa",
        "type": "debug",
        "z": "2c7706736b1f8701",
        "name": "Measurement",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 180,
        "wires": []
    },
    {
        "id": "ece081e2814d4c5e",
        "type": "myatmosphere-measurements",
        "z": "2c7706736b1f8701",
        "connection": "f2498bce81aca1be",
        "name": "",
        "serialNumbers": "30000,40000,50000",
        "measurementTypes": "",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "a153064ab03a6bfa"
            ]
        ]
    },
    {
        "id": "49e0276466de0261",
        "type": "myatmosphere-measurements",
        "z": "2c7706736b1f8701",
        "connection": "f2498bce81aca1be",
        "name": "40001",
        "serialNumbers": "40001",
        "measurementTypes": "pm10, pm2_5",
        "x": 70,
        "y": 200,
        "wires": [
            [
                "a153064ab03a6bfa"
            ]
        ]
    },
    {
        "id": "2cba168762630e7d",
        "type": "catch",
        "z": "2c7706736b1f8701",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 80,
        "y": 300,
        "wires": [
            [
                "0e3d9616e74d7c9d"
            ]
        ]
    },
    {
        "id": "0e3d9616e74d7c9d",
        "type": "debug",
        "z": "2c7706736b1f8701",
        "name": "Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 300,
        "wires": []
    }
]