src/node-red-myatmosphere/examples/alert-flow.json
[
    {
        "id": "0d229a046f27ac17",
        "type": "tab",
        "label": "Demo Alert",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "11917b049d6ee23a",
        "type": "myatmosphere-measurements",
        "z": "0d229a046f27ac17",
        "connection": "a789340140386cf1",
        "name": "Device 1, PM10",
        "serialNumbers": "device1",
        "measurementTypes": "pm10",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "1c7b53c1cebc27d5"
            ]
        ]
    },
    {
        "id": "1c7b53c1cebc27d5",
        "type": "switch",
        "z": "0d229a046f27ac17",
        "name": "PM10 > 50 µg/m³",
        "property": "payload.pm10",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "50",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 180,
        "wires": [
            [
                "a518f036e7df22bb"
            ],
            []
        ]
    },
    {
        "id": "a518f036e7df22bb",
        "type": "debug",
        "z": "0d229a046f27ac17",
        "name": "Alert PM10 > 50 µg/m³",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 140,
        "wires": []
    },
    {
        "id": "536bfcf6c53c75c5",
        "type": "comment",
        "z": "0d229a046f27ac17",
        "name": "Configuration comment",
        "info": "Used settings:\n- subscribed on single device by serial number\n- pm10 measurement types only\n\nListen on the node output and check payload.pm10 value",
        "x": 160,
        "y": 100,
        "wires": []
    },
    {
        "id": "a789340140386cf1",
        "type": "myatmosphere-connection",
        "name": "Private API Key",
        "apiEndpoint": "https://api.my-atmosphere.cloud"
    }
]